$color-bgPurpule: #C9ADC6;
$color-bgPink: #D6BBD3;
$color-white: #fff;
$color-black: #000;
$color-darkPurpure: #A78BA4;
$color-darkPink: #B08EAD;
$color-textPink:#5F4D5D;
$color-lightPink: #B99BB6; 
$color-priceGrey: #B0B0B0;
$color-inputPink: #CEB3CB;